<!DOCTYPE html>
<html>
<head>
    <title>Book Exchange Platform</title>
</head>
<body>
    <header>
        <h1>Welcome to the Book Exchange Platform</h1>
        <a class="add-book-button" href="{% url 'add_book' %}">Add a Book</a>
    </header>

    <div class="book-list">
        {% for book in books %}
            <div class="book">
                <img src="{{ book.cover_image.url }}" alt="{{ book.title }} Cover">
                <h2>{{ book.title }}</h2>
                <p>by {{ book.author }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
